# ASP.NET Core specific
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/

# NuGet
.nuget/
packages/

# Visual Studio cache/options
.vs/
.vscode/
*.vsidx

# JetBrains Rider
.idea/
*.sln.iml

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Client-side dependencies
/src/WhatTheDob.Web/wwwroot/lib/
node_modules/

# Database
*.db
*.db-shm
*.db-wal
*.mdf
*.ldf

# Logs
logstorage/
*.log

# Others
blend/cache*/
extra/blend/cache*/
